@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

$base-font-size: 32px;
$base-line-height: 48px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;


// Colors

$red: #b9403e;
$yellow: #b7b93e;
$teal: #3eb7b9;
$light-teal: #53d2d4;
$blue: #403eb9;
$offwhite: #eefafb;
$offblack: #282828;


// Circle

$circle-height: 1500px;
$circle-width: 1500px;

// Generic classes

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

body {
  @include background-image(radial-gradient($teal, $light-teal));
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;

  p {
    margin-bottom: 10px;
  }
}


.impress-supported {
  .fallback-message {
    display: none;
  }
}

.title {
  padding: 0;

  h1 {
    font-size: 180px;
    @include translateZ(20px);
  }

  .footnote {
    margin-top: 25px;
    font-size: 48px;
    text-align: center;
  }
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  @include box-sizing(border-box);
}

.impress-enabled {
  .step {
    margin: 0;

    @include transition(opacity 1s);
  }

  .active {
    opacity: 1;
  }
}

#overview {
  display: none;
}

.impress-on-overview {
  .step {
    opacity: 1;
    cursor: pointer;
  }
}

.circle {
  width: $circle-width;
  height: $circle-height;
  background: $offwhite;
  color: $offblack;
  opacity: 1;
  z-index: -1;

  @include border-radius(50%);

  h1 {
    font-size: 96px;
    text-align: center;
    vertical-align: middle;
    line-height: 0.85 * $circle-height;
  }
}

.circle-content {
  color: $offblack;
  text-align: center;

  h1 {
    font-size: 54px;
    margin-bottom: 10px;
  }

  p {
    font-size: 36px;
  }

  ul {
    @extend p;

    text-align: left;
    list-style-type: disc;
  }

  li {
    font-size: 36px;
  }
}

.left {
  text-align: left;
}
