@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .circle-content ul, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0@toybuchet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/screen.scss */
.left {
  text-align: left;
}

/* line 38, ../sass/screen.scss */
.right {
  text-align: right;
}

/* line 42, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 46, ../sass/screen.scss */
body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #3eb7b9), color-stop(100%, #53d2d4));
  background-image: -webkit-radial-gradient(#3eb7b9, #53d2d4);
  background-image: -moz-radial-gradient(#3eb7b9, #53d2d4);
  background-image: -o-radial-gradient(#3eb7b9, #53d2d4);
  background-image: radial-gradient(#3eb7b9, #53d2d4);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

/* line 52, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 56, ../sass/screen.scss */
i, em {
  font-style: italic;
}

/* line 60, ../sass/screen.scss */
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
/* line 72, ../sass/screen.scss */
.fallback-message p, .fallback-message .circle-content ul, .circle-content .fallback-message ul {
  margin-bottom: 10px;
}

/* line 79, ../sass/screen.scss */
.impress-supported .fallback-message {
  display: none;
}

/* line 84, ../sass/screen.scss */
.title {
  padding: 0;
}
/* line 87, ../sass/screen.scss */
.title h1 {
  font-size: 180px;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}
/* line 92, ../sass/screen.scss */
.title .footnote {
  margin-top: 25px;
  font-size: 48px;
  text-align: center;
}

/* line 99, ../sass/screen.scss */
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 109, ../sass/screen.scss */
.impress-enabled .step {
  margin: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 115, ../sass/screen.scss */
.impress-enabled .active {
  opacity: 1;
}

/* line 120, ../sass/screen.scss */
#overview {
  display: none;
}

/* line 125, ../sass/screen.scss */
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

/* line 131, ../sass/screen.scss */
.circle {
  width: 1500px;
  height: 1500px;
  background: #eefafb;
  color: #282828;
  opacity: 1;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 141, ../sass/screen.scss */
.circle h1 {
  font-size: 96px;
  text-align: center;
  vertical-align: middle;
  line-height: 1275px;
}

/* line 149, ../sass/screen.scss */
.circle-content {
  color: #282828;
  text-align: center;
}
/* line 153, ../sass/screen.scss */
.circle-content h1 {
  font-size: 54px;
  margin-bottom: 10px;
}
/* line 158, ../sass/screen.scss */
.circle-content p, .circle-content ul {
  font-size: 36px;
}
/* line 162, ../sass/screen.scss */
.circle-content ul {
  text-align: left;
  list-style-type: disc;
}
/* line 169, ../sass/screen.scss */
.circle-content li {
  font-size: 36px;
}

/* line 174, ../sass/screen.scss */
.left {
  text-align: left;
}
